# 0. 기초

* 사용할 library, function 가져오기


* 데이터 불러오기

In [1]:
import numpy as np
import pandas as pd
import time
from datetime import datetime
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler

In [9]:
pd.set_option('display.max_columns', 200) # display되는 데이터 칼럼 수 설정
raw_plu = pd.read_csv('./Dataset/Measurement_summary.csv')
plu = raw_plu.copy()

# 1. 데이터 전처리 및 탐색

### 데이터 프레임 feature별 type 출력

In [10]:
raw_plu.dtypes

Measurement date     object
Station code          int64
Address              object
Latitude            float64
Longitude           float64
SO2                 float64
NO2                 float64
O3                  float64
CO                  float64
PM10                float64
PM2.5               float64
dtype: object

In [11]:
raw_plu.Address.unique()

array(['19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republic of Korea',
       '15, Deoksugung-gil, Jung-gu, Seoul, Republic of Korea',
       '136, Hannam-daero, Yongsan-gu, Seoul, Republic of Korea',
       '215, Jinheung-ro, Eunpyeong-gu, Seoul, Republic of Korea',
       '32, Segeomjeong-ro 4-gil, Seodaemun-gu, Seoul, Republic of Korea',
       '10, Poeun-ro 6-gil, Mapo-gu, Seoul, Republic of Korea',
       '18, Ttukseom-ro 3-gil, Seongdong-gu, Seoul, Republic of Korea',
       '571, Gwangnaru-ro, Gwangjin-gu, Seoul, Republic of Korea',
       '43, Cheonho-daero 13-gil, Dongdaemun-gu, Seoul, Republic of Korea',
       '369, Yongmasan-ro, Jungnang-gu, Seoul, Republic of Korea',
       '70, Samyang-ro 2-gil, Seongbuk-gu, Seoul, Republic of Korea',
       '49, Samyang-ro 139-gil, Gangbuk-gu, Seoul, Republic of Korea',
       '34, Sirubong-ro 2-gil, Dobong-gu, Seoul, Republic of Korea',
       '17, Sanggye-ro 23-gil, Nowon-gu, Seoul, Republic of Korea',
       '56, Jungang-ro 52-gil, Yangcheon-gu, Seoul, Republic of Korea',
       '71, Gangseo-ro 45da-gil, Gangseo-gu, Seoul, Republic of Korea',
       '45, Gamasan-ro 27-gil, Guro-gu, Seoul, Republic of Korea',
       '20, Geumha-ro 21-gil, Geumcheon-gu, Seoul, Republic of Korea',
       '11, Yangsan-ro 23-gil, Yeongdeungpo-gu, Seoul, Republic of Korea',
       '6, Sadang-ro 16a-gil, Dongjak-gu, Seoul, Republic of Korea',
       '14, Sillimdong-gil, Gwanak-gu, Seoul, Republic of Korea',
       '16, Sinbanpo-ro 15-gil, Seocho-gu, Seoul, Republic of Korea',
       '426, Hakdong-ro, Gangnam-gu, Seoul, Republic of Korea',
       '236, Baekjegobun-ro, Songpa-gu, Seoul, Republic of Korea',
       '59, Gucheonmyeon-ro 42-gil, Gangdong-gu, Seoul, Republic of Korea'],
      dtype=object)

In [12]:
unique_adr = raw_plu.Address.unique()
print('#'*5, 'unq adress list', '#'*5)
print(unique_adr)
print('\n'*2, '#'*5, 'number of unq adress', '#'*5)
print(len(unique_adr))

##### unq adress list #####
['19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republic of Korea'
 '15, Deoksugung-gil, Jung-gu, Seoul, Republic of Korea'
 '136, Hannam-daero, Yongsan-gu, Seoul, Republic of Korea'
 '215, Jinheung-ro, Eunpyeong-gu, Seoul, Republic of Korea'
 '32, Segeomjeong-ro 4-gil, Seodaemun-gu, Seoul, Republic of Korea'
 '10, Poeun-ro 6-gil, Mapo-gu, Seoul, Republic of Korea'
 '18, Ttukseom-ro 3-gil, Seongdong-gu, Seoul, Republic of Korea'
 '571, Gwangnaru-ro, Gwangjin-gu, Seoul, Republic of Korea'
 '43, Cheonho-daero 13-gil, Dongdaemun-gu, Seoul, Republic of Korea'
 '369, Yongmasan-ro, Jungnang-gu, Seoul, Republic of Korea'
 '70, Samyang-ro 2-gil, Seongbuk-gu, Seoul, Republic of Korea'
 '49, Samyang-ro 139-gil, Gangbuk-gu, Seoul, Republic of Korea'
 '34, Sirubong-ro 2-gil, Dobong-gu, Seoul, Republic of Korea'
 '17, Sanggye-ro 23-gil, Nowon-gu, Seoul, Republic of Korea'
 '56, Jungang-ro 52-gil, Yangcheon-gu, Seoul, Republic of Korea'
 '71, Gangseo-ro 45da-gil, Gangseo-gu, Seoul, Republic of Korea'
 '45, Gamasan-ro 27-gil, Guro-gu, Seoul, Republic of Korea'
 '20, Geumha-ro 21-gil, Geumcheon-gu, Seoul, Republic of Korea'
 '11, Yangsan-ro 23-gil, Yeongdeungpo-gu, Seoul, Republic of Korea'
 '6, Sadang-ro 16a-gil, Dongjak-gu, Seoul, Republic of Korea'
 '14, Sillimdong-gil, Gwanak-gu, Seoul, Republic of Korea'
 '16, Sinbanpo-ro 15-gil, Seocho-gu, Seoul, Republic of Korea'
 '426, Hakdong-ro, Gangnam-gu, Seoul, Republic of Korea'
 '236, Baekjegobun-ro, Songpa-gu, Seoul, Republic of Korea'
 '59, Gucheonmyeon-ro 42-gil, Gangdong-gu, Seoul, Republic of Korea']


 ##### number of unq adress #####
25

- - -

### 시계열 변수 다루기  
* reference: https://datascienceschool.net/view-notebook/465066ac92ef4da3b0aba32f76d9750a/

In [13]:
plu

,Measurement date,Station code,Address,Latitude,Longitude,SO2,NO2,O3,CO,PM10,PM2.5
0,2017-01-01 00:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.004,0.059,0.002,1.2,73.0,57.0
1,2017-01-01 01:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.004,0.058,0.002,1.2,71.0,59.0
2,2017-01-01 02:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.004,0.056,0.002,1.2,70.0,59.0
3,2017-01-01 03:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.004,0.056,0.002,1.2,70.0,58.0
4,2017-01-01 04:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.003,0.051,0.002,1.2,69.0,61.0
...,...,...,...,...,...,...,...,...,...,...,...
647506,2019-12-31 19:00,125,"59, Gucheonmyeon-ro 42-gil, Gangdong-gu, Seoul...",37.544962,127.136792,0.003,0.028,0.013,0.5,23.0,17.0
647507,2019-12-31 20:00,125,"59, Gucheonmyeon-ro 42-gil, Gangdong-gu, Seoul...",37.544962,127.136792,0.003,0.025,0.015,0.4,25.0,19.0
647508,2019-12-31 21:00,125,"59, Gucheonmyeon-ro 42-gil, Gangdong-gu, Seoul...",37.544962,127.136792,0.003,0.023,0.015,0.4,24.0,17.0
647509,2019-12-31 22:00,125,"59, Gucheonmyeon-ro 42-gil, Gangdong-gu, Seoul...",37.544962,127.136792,0.003,0.040,0.004,0.5,25.0,18.0
647510,2019-12-31 23:00,125,"59, Gucheonmyeon-ro 42-gil, Gangdong-gu, Seoul...",37.544962,127.136792,0.003,0.037,0.005,0.5,27.0,18.0

In [14]:
plu.dtypes

Measurement date     object
Station code          int64
Address              object
Latitude            float64
Longitude           float64
SO2                 float64
NO2                 float64
O3                  float64
CO                  float64
PM10                float64
PM2.5               float64
dtype: object

In [15]:
plu['Measurement date'].head()

0    2017-01-01 00:00
1    2017-01-01 01:00
2    2017-01-01 02:00
3    2017-01-01 03:00
4    2017-01-01 04:00
Name: Measurement date, dtype: object

In [16]:
pd.to_datetime(plu['Measurement date'])

0        2017-01-01 00:00:00
1        2017-01-01 01:00:00
2        2017-01-01 02:00:00
3        2017-01-01 03:00:00
4        2017-01-01 04:00:00
                 ...
647506   2019-12-31 19:00:00
647507   2019-12-31 20:00:00
647508   2019-12-31 21:00:00
647509   2019-12-31 22:00:00
647510   2019-12-31 23:00:00
Name: Measurement date, Length: 647511, dtype: datetime64[ns]

In [17]:
plu = raw_plu.copy()
plu['Measurement date'] = pd.to_datetime(plu['Measurement date'])

In [18]:
idx_2017 = plu['Measurement date'].apply(lambda x: x.year == 2017)
print(idx_2017)

plu.loc[idx_2017, :]

0          True
1          True
2          True
3          True
4          True
          ...
647506    False
647507    False
647508    False
647509    False
647510    False
Name: Measurement date, Length: 647511, dtype: bool

,Measurement date,Station code,Address,Latitude,Longitude,SO2,NO2,O3,CO,PM10,PM2.5
0,2017-01-01 00:00:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.004,0.059,0.002,1.2,73.0,57.0
1,2017-01-01 01:00:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.004,0.058,0.002,1.2,71.0,59.0
2,2017-01-01 02:00:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.004,0.056,0.002,1.2,70.0,59.0
3,2017-01-01 03:00:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.004,0.056,0.002,1.2,70.0,58.0
4,2017-01-01 04:00:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.003,0.051,0.002,1.2,69.0,61.0
...,...,...,...,...,...,...,...,...,...,...,...
630362,2017-12-31 19:00:00,125,"59, Gucheonmyeon-ro 42-gil, Gangdong-gu, Seoul...",37.544962,127.136792,0.005,0.024,0.020,0.5,33.0,19.0
630363,2017-12-31 20:00:00,125,"59, Gucheonmyeon-ro 42-gil, Gangdong-gu, Seoul...",37.544962,127.136792,0.005,0.019,0.023,0.4,44.0,12.0
630364,2017-12-31 21:00:00,125,"59, Gucheonmyeon-ro 42-gil, Gangdong-gu, Seoul...",37.544962,127.136792,0.005,0.026,0.018,0.5,42.0,18.0
630365,2017-12-31 22:00:00,125,"59, Gucheonmyeon-ro 42-gil, Gangdong-gu, Seoul...",37.544962,127.136792,0.004,0.020,0.023,0.4,40.0,23.0
630366,2017-12-31 23:00:00,125,"59, Gucheonmyeon-ro 42-gil, Gangdong-gu, Seoul...",37.544962,127.136792,0.005,0.018,0.023,0.4,33.0,16.0

In [34]:
idx_NoFeb = plu['Measurement date'].dt.month > 2# We can use other operator like >, >=, <, <=
idx_2018 = plu['Measurement date'].dt.weekday == 0 # 0 is monday, 6 is sunday
idx = idx_NoFeb & idx_2018
plu.loc[idx,:]

,Measurement date,Station code,Address,Latitude,Longitude,SO2,NO2,O3,CO,PM10,PM2.5
1536,2017-03-06 00:00:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.004,0.014,0.046,0.6,58.0,49.0
1537,2017-03-06 01:00:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.004,0.013,0.043,0.5,55.0,50.0
1538,2017-03-06 02:00:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.004,0.012,0.039,0.5,41.0,40.0
1539,2017-03-06 03:00:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.003,0.012,0.036,0.5,39.0,35.0
1540,2017-03-06 04:00:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.003,0.013,0.032,0.5,40.0,39.0
...,...,...,...,...,...,...,...,...,...,...,...
647482,2019-12-30 19:00:00,125,"59, Gucheonmyeon-ro 42-gil, Gangdong-gu, Seoul...",37.544962,127.136792,0.003,0.022,0.018,0.5,47.0,34.0
647483,2019-12-30 20:00:00,125,"59, Gucheonmyeon-ro 42-gil, Gangdong-gu, Seoul...",37.544962,127.136792,0.003,0.015,0.024,0.4,40.0,29.0
647484,2019-12-30 21:00:00,125,"59, Gucheonmyeon-ro 42-gil, Gangdong-gu, Seoul...",37.544962,127.136792,0.003,0.014,0.024,0.4,35.0,25.0
647485,2019-12-30 22:00:00,125,"59, Gucheonmyeon-ro 42-gil, Gangdong-gu, Seoul...",37.544962,127.136792,0.003,0.012,0.026,0.4,28.0,17.0
647486,2019-12-30 23:00:00,125,"59, Gucheonmyeon-ro 42-gil, Gangdong-gu, Seoul...",37.544962,127.136792,0.003,0.012,0.024,0.4,30.0,17.0

In [36]:
# attribute: year, month, day, hour, minute, second
# attribute: weekday(): 요일(0: 월 ~ 6: 일)
# function: strftime: 시간 -> 문자열

- - -

### 분산된 데이터 합치기
* reference: https://rfriend.tistory.com/258

In [37]:
plu

,Measurement date,Station code,Address,Latitude,Longitude,SO2,NO2,O3,CO,PM10,PM2.5
0,2017-01-01 00:00:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.004,0.059,0.002,1.2,73.0,57.0
1,2017-01-01 01:00:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.004,0.058,0.002,1.2,71.0,59.0
2,2017-01-01 02:00:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.004,0.056,0.002,1.2,70.0,59.0
3,2017-01-01 03:00:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.004,0.056,0.002,1.2,70.0,58.0
4,2017-01-01 04:00:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.003,0.051,0.002,1.2,69.0,61.0
...,...,...,...,...,...,...,...,...,...,...,...
647506,2019-12-31 19:00:00,125,"59, Gucheonmyeon-ro 42-gil, Gangdong-gu, Seoul...",37.544962,127.136792,0.003,0.028,0.013,0.5,23.0,17.0
647507,2019-12-31 20:00:00,125,"59, Gucheonmyeon-ro 42-gil, Gangdong-gu, Seoul...",37.544962,127.136792,0.003,0.025,0.015,0.4,25.0,19.0
647508,2019-12-31 21:00:00,125,"59, Gucheonmyeon-ro 42-gil, Gangdong-gu, Seoul...",37.544962,127.136792,0.003,0.023,0.015,0.4,24.0,17.0
647509,2019-12-31 22:00:00,125,"59, Gucheonmyeon-ro 42-gil, Gangdong-gu, Seoul...",37.544962,127.136792,0.003,0.040,0.004,0.5,25.0,18.0
647510,2019-12-31 23:00:00,125,"59, Gucheonmyeon-ro 42-gil, Gangdong-gu, Seoul...",37.544962,127.136792,0.003,0.037,0.005,0.5,27.0,18.0

In [40]:
raw_loc = pd.read_csv('./Dataset/Measurement_station_info.csv')
loc = raw_loc.copy()

In [41]:
loc

,Station code,Station name(district),Address,Latitude,Longitude
0,101,Jongno-gu,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008
1,102,Jung-gu,"15, Deoksugung-gil, Jung-gu, Seoul, Republic o...",37.564263,126.974676
2,103,Yongsan-gu,"136, Hannam-daero, Yongsan-gu, Seoul, Republic...",37.540033,127.004850
3,104,Eunpyeong-gu,"215, Jinheung-ro, Eunpyeong-gu, Seoul, Republi...",37.609823,126.934848
4,105,Seodaemun-gu,"32, Segeomjeong-ro 4-gil, Seodaemun-gu, Seoul,...",37.593742,126.949679
5,106,Mapo-gu,"10, Poeun-ro 6-gil, Mapo-gu, Seoul, Republic o...",37.555580,126.905597
6,107,Seongdong-gu,"18, Ttukseom-ro 3-gil, Seongdong-gu, Seoul, Re...",37.541864,127.049659
7,108,Gwangjin-gu,"571, Gwangnaru-ro, Gwangjin-gu, Seoul, Republi...",37.547180,127.092493
8,109,Dongdaemun-gu,"43, Cheonho-daero 13-gil, Dongdaemun-gu, Seoul...",37.575743,127.028885
9,110,Jungnang-gu,"369, Yongmasan-ro, Jungnang-gu, Seoul, Republi...",37.584848,127.094023
10,111,Seongbuk-gu,"70, Samyang-ro 2-gil, Seongbuk-gu, Seoul, Repu...",37.606719,127.027279
11,112,Gangbuk-gu,"49, Samyang-ro 139-gil, Gangbuk-gu, Seoul, Rep...",37.647930,127.011952
12,113,Dobong-gu,"34, Sirubong-ro 2-gil, Dobong-gu, Seoul, Repub...",37.654192,127.029088
13,114,Nowon-gu,"17, Sanggye-ro 23-gil, Nowon-gu, Seoul, Republ...",37.658774,127.068505
14,115,Yangcheon-gu,"56, Jungang-ro 52-gil, Yangcheon-gu, Seoul, Re...",37.525939,126.856603
15,116,Gangseo-gu,"71, Gangseo-ro 45da-gil, Gangseo-gu, Seoul, Re...",37.544640,126.835151
16,117,Guro-gu,"45, Gamasan-ro 27-gil, Guro-gu, Seoul, Republi...",37.498498,126.889692
17,118,Geumcheon-gu,"20, Geumha-ro 21-gil, Geumcheon-gu, Seoul, Rep...",37.452357,126.908296
18,119,Yeongdeungpo-gu,"11, Yangsan-ro 23-gil, Yeongdeungpo-gu, Seoul,...",37.525007,126.897370
19,120,Dongjak-gu,"6, Sadang-ro 16a-gil, Dongjak-gu, Seoul, Repub...",37.480917,126.971481
20,121,Gwanak-gu,"14, Sillimdong-gil, Gwanak-gu, Seoul, Republic...",37.487355,126.927102
21,122,Seocho-gu,"16, Sinbanpo-ro 15-gil, Seocho-gu, Seoul, Repu...",37.504547,126.994458
22,123,Gangnam-gu,"426, Hakdong-ro, Gangnam-gu, Seoul, Republic o...",37.517528,127.047470
23,124,Songpa-gu,"236, Baekjegobun-ro, Songpa-gu, Seoul, Republi...",37.502686,127.092509
24,125,Gangdong-gu,"59, Gucheonmyeon-ro 42-gil, Gangdong-gu, Seoul...",37.544962,127.136792

In [42]:
plu

,Measurement date,Station code,Address,Latitude,Longitude,SO2,NO2,O3,CO,PM10,PM2.5
0,2017-01-01 00:00:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.004,0.059,0.002,1.2,73.0,57.0
1,2017-01-01 01:00:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.004,0.058,0.002,1.2,71.0,59.0
2,2017-01-01 02:00:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.004,0.056,0.002,1.2,70.0,59.0
3,2017-01-01 03:00:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.004,0.056,0.002,1.2,70.0,58.0
4,2017-01-01 04:00:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.003,0.051,0.002,1.2,69.0,61.0
...,...,...,...,...,...,...,...,...,...,...,...
647506,2019-12-31 19:00:00,125,"59, Gucheonmyeon-ro 42-gil, Gangdong-gu, Seoul...",37.544962,127.136792,0.003,0.028,0.013,0.5,23.0,17.0
647507,2019-12-31 20:00:00,125,"59, Gucheonmyeon-ro 42-gil, Gangdong-gu, Seoul...",37.544962,127.136792,0.003,0.025,0.015,0.4,25.0,19.0
647508,2019-12-31 21:00:00,125,"59, Gucheonmyeon-ro 42-gil, Gangdong-gu, Seoul...",37.544962,127.136792,0.003,0.023,0.015,0.4,24.0,17.0
647509,2019-12-31 22:00:00,125,"59, Gucheonmyeon-ro 42-gil, Gangdong-gu, Seoul...",37.544962,127.136792,0.003,0.040,0.004,0.5,25.0,18.0
647510,2019-12-31 23:00:00,125,"59, Gucheonmyeon-ro 42-gil, Gangdong-gu, Seoul...",37.544962,127.136792,0.003,0.037,0.005,0.5,27.0,18.0

In [43]:
loc = raw_loc.copy()[['Station code', 'Station name(district)']]
final_plu = plu.merge(loc, how = 'right', on = 'Station code')
final_plu

,Measurement date,Station code,Address,Latitude,Longitude,SO2,NO2,O3,CO,PM10,PM2.5,Station name(district)
0,2017-01-01 00:00:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.004,0.059,0.002,1.2,73.0,57.0,Jongno-gu
1,2017-01-01 01:00:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.004,0.058,0.002,1.2,71.0,59.0,Jongno-gu
2,2017-01-01 02:00:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.004,0.056,0.002,1.2,70.0,59.0,Jongno-gu
3,2017-01-01 03:00:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.004,0.056,0.002,1.2,70.0,58.0,Jongno-gu
4,2017-01-01 04:00:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.003,0.051,0.002,1.2,69.0,61.0,Jongno-gu
...,...,...,...,...,...,...,...,...,...,...,...,...
647506,2019-12-31 19:00:00,125,"59, Gucheonmyeon-ro 42-gil, Gangdong-gu, Seoul...",37.544962,127.136792,0.003,0.028,0.013,0.5,23.0,17.0,Gangdong-gu
647507,2019-12-31 20:00:00,125,"59, Gucheonmyeon-ro 42-gil, Gangdong-gu, Seoul...",37.544962,127.136792,0.003,0.025,0.015,0.4,25.0,19.0,Gangdong-gu
647508,2019-12-31 21:00:00,125,"59, Gucheonmyeon-ro 42-gil, Gangdong-gu, Seoul...",37.544962,127.136792,0.003,0.023,0.015,0.4,24.0,17.0,Gangdong-gu
647509,2019-12-31 22:00:00,125,"59, Gucheonmyeon-ro 42-gil, Gangdong-gu, Seoul...",37.544962,127.136792,0.003,0.040,0.004,0.5,25.0,18.0,Gangdong-gu
647510,2019-12-31 23:00:00,125,"59, Gucheonmyeon-ro 42-gil, Gangdong-gu, Seoul...",37.544962,127.136792,0.003,0.037,0.005,0.5,27.0,18.0,Gangdong-gu